@model IEnumerable<User>

@{
    ViewData["Title"] = "Doctors";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Title {
    <h1>Doctors</h1>
}


<div class="panel panel-default" ng-controller="accountCtrl as vm">
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Clinic</th>
                    <th>Is email confirmed?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchEmail" class="form-control" placeholder="Email...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchEmail!='' && searchEmail!=null" ng-click="searchEmail = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchClinic" class="form-control" placeholder="Clinic...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchClinic!='' && searchClinic!=null" ng-click="searchClinic = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td></td>
                    <td><button class="btn btn-outline-primary" ng-click="searchEmail=''; searchClinic=''">Clear search</button></td>
                </tr>
                <tr ng-repeat="i in vm.model | filter: {Email: searchEmail, Clinic: {Name: searchClinic} }">
                    <td>
                        {{i.Email}}
                    </td>
                    <td>
                        {{i.Clinic.Name}}
                    </td>
                    <td>
                        {{i.EmailConfirmed ? "Yes" : "No"}}
                    </td>
                    <td>
                        <div class="row">
                            <a href="~/Doctor/Edit/{{i.Id}}" class="btn btn-primary" style="margin-right:5px;">Edit</a>
                            <form asp-action="Delete" asp-controller="Doctor" method="post">
                                <input type="hidden" name="id" value="{{i.Id}}" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<a asp-controller="Doctor" asp-action="Add" class="btn btn-success">Add <i class="fa fa-plus" aria-hidden="true"></i></a>
@*<ng-view></ng-view>*@

<script>
var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
</script>
