@model IEnumerable<VirusForecast.Models.DoctorViewModel.DoctorListViewModel>

@{
    ViewData["Title"] = "Doctors";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Title {
    <h1>Doctors</h1>
}


<div class="panel panel-default" ng-controller="accountCtrl as vm">
    <p ng-model="sortKey" hidden>Sort key: {{sortKey}}</p>
    <p ng-model="reverse" hidden>Reverse: {{reverse}}</p>
    <div class="panel-body">
        <table id="doctorsTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <a style="margin-left: 5px" class="clear" ng-click="sortKey='Email'; reverse = !reverse">
                            Email
                            <span class="fa fa-sort-up" ng-show="sortKey=='Email'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
                        </a>
                    </th>
                    <th>
                        <a style="margin-left: 5px" class="clear" ng-click="sortKey='Clinic'; reverse = !reverse">
                            Clinic
                            <span class="fa fa-sort-up" ng-show="sortKey=='Clinic'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
                        </a>
                    </th>
                    <th>
                        <a style="margin-left: 5px" class="clear" ng-click="sortKey='EmailConfirmedString'; reverse = !reverse">
                            Is email confirmed?
                            <span class="fa fa-sort-up" ng-show="sortKey=='EmailConfirmedString'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
                        </a>
                    </th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchEmail" class="form-control" placeholder="Email...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchEmail!='' && searchEmail!=null" ng-click="searchEmail = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchClinic" class="form-control" placeholder="Clinic...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchClinic!='' && searchClinic!=null" ng-click="searchClinic = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchEmailConfirmed" class="form-control" placeholder="Confirmed...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchEmailConfirmed!='' && searchEmailConfirmed!=null" ng-click="searchEmailConfirmed = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td><button class="btn btn-outline-primary" ng-click="searchEmail=''; searchClinic=''; searchEmailConfirmed=''">Clear search</button></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in vm.model | orderBy : sortKey : reverse | filter: {Email: searchEmail, Clinic: {Name: searchClinic}, EmailConfirmedString: searchEmailConfirmed }">
                    <td>
                        {{i.Email}}
                    </td>
                    <td>
                        {{i.Clinic.Name}}
                    </td>
                    <td>
                        {{i.EmailConfirmedString}}
                    </td>
                    <td>
                        <div class="row">
                            <a href="~/Doctor/Edit/{{i.Id}}" class="btn btn-primary" style="margin-right:5px;">Edit</a>
                            <form asp-action="Delete" asp-controller="Doctor" method="post">
                                <input type="hidden" name="id" value="{{i.Id}}" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<a asp-controller="Doctor" asp-action="Add" class="btn btn-success">Add <i class="fa fa-plus" aria-hidden="true"></i></a>
@*<ng-view></ng-view>*@

<script>
var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
</script>
