@model VirusForecast.Models.Clinic

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Title{ 
    <h1>Add a new clinic</h1>
} 

<hr />

<form asp-action="Add">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-top: 32px;" />
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>

<div>
    <a type="button" asp-action="List" class="btn btn-dark">Back to List <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<script>
    var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
</script>
