@model IEnumerable<VirusForecast.Models.Clinic>

@{
    ViewData["Title"] = "Clinics";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Title {
    <h1>Clinics</h1>
}

<div class="panel panel-default" ng-controller="clinicCtrl as vm">
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form class="form-inline" style="margin-bottom: 10px">
                            <div class="form-group">
                                <input type="text" ng-model="searchName" class="form-control" placeholder="Name...">
                                <a style="margin-left: 5px" class="clear" ng-show="searchName!='' && searchName!=null" ng-click="searchName = ''">
                                    <span class="fa fa-ban"></span>
                                </a>
                            </div>
                        </form>
                    </td>
                    <td><button class="btn btn-outline-primary" ng-click="searchName = ''">Clear search</button></td>
                </tr>
                <tr ng-repeat="i in vm.model | filter: {Name: searchName}">
                    <td>
                        {{i.Name}}
                    </td>
                    <td>
                        <div class="row">
                            <a href="~/Clinic/Edit/{{i.Id}}" class="btn btn-primary" style="margin-right:5px;">Edit</a>
                            <a href="~/Clinic/Details/{{i.Id}}" class="btn btn-info" style="margin-right:5px;">Details</a>
                            <form asp-action="Delete" asp-controller="Clinic" method="post">
                                <input type="hidden" name="id" value="{{i.Id}}" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a asp-controller="Clinic" asp-action="Add" class="btn btn-success">Add <i class="fa fa-plus" aria-hidden="true"></i></a>

<script>
    var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
</script>